<h1>Book Info</h1>
<img src="{{book.bookCover}}" class="book-cover-pic" />
<ul>
	<li>ID: {{book.bookID}}</li>
	<li>Title: {{book.bookTitle}}</li>
	<li>Number of Pages: {{book.numPages}}</li>
	<li>Year of Publication: {{book.publishedYear}}</li>
</ul>

<h1>Reviews</h1>
<table class="table">
    <thead>
        <th>Rating ID</th>
        <th>User</th>
        <th>Date of Rating</th>
        <th>Rating</th>
        <th>Review</th>
    </thead>
    <tbody>
        {{#each reviews}}
        <tr> 
            <td>{{ratingID}}</td>
            <td>{{username}}</td>
            <td>{{rateDate}}</td>
            <td>{{rating}}/5</td>
            <td>{{comments}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
