
<form id="addbook" action="/books" method="post">
    <h3>Add a Book</h3>
    Title: <input type="text" name="title" placeholder="Good Omens" required>
    Author(s): <input type="text" name="authors" placeholder="Neil Gaiman,Terry Pratchett" required>
    Number of Pages: <input type="number" name="pages" placeholder="491">
    Year of Publication: <input type="number" name="year" placeholder="2006">
    Genre(s): <input type="text" name="genres" placeholder="Fantasy,Humor">
    URL of Book Cover: <input type="url" name="url" placeholder="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1392528568l/12067.jpg" required>
    <input type="submit" value="Submit" class="btn btn-primary">
 </form>
<br/>

<h3>Books</h3>
<p class="text-secondary font-italic">Click on a book cover to view reviews for that book.</p>
<table class="table">
    <thead>
        <th>Book Cover</th>
        <th>Book ID</th>
        <th>Book Title</th>
        <th>Number of Pages</th>
        <th>Year of Publication</th>
    </thead>
    <tbody>
        {{#each books}}
        <tr>
            <td><a href="/books/{{bookID}}"><img src="{{bookCover}}" class="book-cover-pic" /></a></td>
            <td>{{bookID}}</td>
            <td>{{bookTitle}}</td>
            <td>{{numPages}}</td>
            <td>{{publishedYear}}</td>
            <td><button class="btn btn-danger" onclick="deleteBook({{bookID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
