<form id="edit-review" onsubmit="editReview({{rating.ratingID}})">
	<!-- <h3>Update Review for <span class="highlight">{{rating.bookTitle}}</span></h3> -->
	<h3>Update Review</h3>
	<!-- <img src="{{rating.bookCover}}" class="book-cover-pic" /><br /><br /> -->
	<!-- <input type="hidden" name="ratingID" value="{{rating.ratingID}}" readonly="readonly">
	<input type="hidden" name="bookID" value="{{rating.bookID}}" readonly="readonly"> -->
	Book: <select name="book" id="book-selector">
						<option value="">NULL</option>
						<!-- {{#if rating.bookID}}
						<option value="{{rating.bookID}}" selected>{{rating.bookTitle}}</option>
						{{/if}} -->
        {{#each books}}
						{{#ifEqual ../rating.bookID bookID}}
							<option value="{{bookID}}" selected>{{bookTitle}}</option>
						{{else}}
							<option value="{{bookID}}">{{bookTitle}}</option>
						{{/ifEqual}}
        {{/each}}
    </select>
	Rating: <input type="number" name="rating" min="1" max="5" value="{{rating.rating}}" required>
	Comments: <input type="text" name="comments" value="{{rating.comments}}">
	<input type="submit" value="Update" class="btn btn-primary"><br />
	<span class="font-italic text-secondary">The rating should be a number between 1 and 5.</span>
</form>
<br />
