<h3>User Info</h3>
<img src="/{{user.userPicture}}" class="book-cover-pic" />
<ul>
	<li>User ID: {{user.userID}}</li>
	<li>Username: {{user.username}}</li>
	<li>Full Name: {{user.userFirstName}} {{user.userLastName}}</li>
	<li>Join Date: {{user.userCreationDate}}</li>
</ul>

<h3>Reviews</h3>
<table class="table">
    <thead>
        <th>Rating ID</th>
				<th>Book Cover</th>
				<th>Book Title</th>
        <th>Date of Rating</th>
        <th>Rating</th>
        <th>Review</th>
    </thead>
    <tbody>
        {{#each reviews}}
        <tr>
            <td>{{ratingID}}</td>
						<td><img src="{{bookCover}}" class="book-cover-pic" /></td>
						<td>{{bookTitle}}</td>
            <td>{{rateDate}}</td>
            <td>{{rating}}/5</td>
            <td>{{comments}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
